#comment-block,
#comment-block *{
    margin: 0;
    border: 0;
    padding: 0;
    background: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    list-style-type: none;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Roboto', Arial, Helvetica, Sans-serif, Verdana;
}

#comment-block{
    width: 600px;
    height: 360px;
    margin: auto;
    border: 2px solid #f7f7f7;
    box-shadow: 0 .625rem 1.875rem -.9375rem rgba(0,0,0,0.1);
}

/* input area part  start-area */
#comment-block .input-block{
    position: absolute;
    width: 546px;
    height: 306px;
    margin: auto;
    margin-top: 15px;
    border: 2px solid #f7f7f7;
    box-shadow: 0 .625rem 1.875rem -.9375rem rgba(0,0,0,0.1);
}

#comment-block .input-block .input-area{
    position: absolute;
    width: 520px;
    height: 300px;
    left: 0;
    right: 0;
    margin: auto;
}

#comment-block .input-block .input-area .nickname{
    float: left;
    width: 161px;
    height: 31px;
    border-right: 2px solid #ccc;
}

#comment-block .input-block .input-area .email{
    float: left;
    width: 345px;
    height: 31px;
    border-right: 0;
    padding-left: 5px;
}

#comment-block .input-block .input-area .text-block{
    overflow: auto;
    width: 520px;
    height: 231px;
    border-top: 2px dashed #ccc;
    border-bottom: 2px dashed #ccc;
    padding-top: 1px;
    resize: none;
}

#comment-block .input-block .button-area .commit{
    float: right;
    width: 40px;
    height: 32px;
    background: 0 0;
    border-radius: .3rem;
    border: 1px solid #eff2f3;
    cursor: pointer;
    line-height: 0;
}

#comment-block .input-block .button-area .commit:hover{
    background: #e9546b;
    border: 1px solid #eff2f3;
}
/* input area part end-area */


/* comment show area */
#comment-block .comment-container{
    position: relative;
    width: 546px;
    left: 0;
    right: 0;
    top: 320px;
    bottom: 0;
    margin: auto;
}

#comment-block .comment-container .info{
    padding: .3125rem;
    font-weight: 600;
    font-size: 1.25em;
}

#comment-block .comment-list{
    display: none;
    position: relative;
    top: 10px;
}

#comment-block .comment-list::before{
    position: absolute;
    content: '';
    width: 2px;
    height: calc(100% - 50px);
    top: 45px;
    left: 27px;
    background: #c7cacb;
}

#comment-block .comment-list::after{
    position: absolute;
    content: '';
    background: #c7cacb;
    bottom: 0;
    left: 23px;
    width: 4px;
    height: 4px;
    border: 3px solid #dee1e3;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

#comment-block .comment-list li{
    position: relative;
    margin-bottom: 15px;
    display: block;
}

#comment-block .comment-list li::after{
    content: '';
    height: 0;
    width: 0;
    display: block;
    clear: both;
}

#comment-block .comment-list .main-level::after{
    content: '';
    width: 0;
    height: 0;
    display: block;
    clear: both;
}

#comment-block .comment-list .avatar{
    overflow: hidden;
    float: left;
    position: relative;
    width: 54px;
    height: 54px;
    margin-bottom: 17px;
    border: 3px solid #FFF;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

#comment-block .comment-list .avatar img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* comment box of coment area start-area */
#comment-block .comment-list .comment-box{
    float: right;
    position: relative;
    width: 465px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15);
}

#comment-block .comment-list .comment-box::before,
#comment-block .comment-list .comment-box::after{
    position: absolute;
    content: '';
    top: 8px;
    left: -11px;
    height: 0;
    width: 0;
    border-width: 10px 12px 10px 0;
    border-style: solid;
    border-color: transparent #FCFCFC;
    display: block;
}

#comment-block .comment-list .comment-box::before{
    left: -12px;
    border-width: 11px 13px 11px 0;
    border-color: transparent rgba(0,0,0,0.05);
}

#comment-block .comment-list .comment-box::before,
#comment-block .comment-list .comment-box::after{
    position: absolute;
    content: '';
    top: 8px;
    left: -11px;
    height: 0;
    width: 0;
    border-width: 10px 12px 10px 0;
    border-style: solid;
    border-color: transparent #FCFCFC;
    display: block;
}

#comment-block .comment-list .comment-box::before{
    left: -12px;
    border-width: 11px 13px 11px 0;
    border-color: transparent rgba(0,0,0,0.05);
}

/* comment box head area start-area */
#comment-block .comment-list .comment-box .cbox-head{
    overflow: hidden;
    padding: 10px 12px;
    border-bottom: 1px solid #E5E5E5;
    border-radius: 4px 4px 0 0;
    background: #FCFCFC;
}

#comment-block .comment-list .comment-box .cbox-head
.cbauthor-name{
    color: #283035;
    font-size: 14px;
    font-weight: 700;
    float: left;
    margin-right: 10px;
}

#comment-block .comment-list .comment-box .cbox-head
span{
    float: left;
    color: #999;
    font-size: 13px;
    position: relative;
    top: 1px;
}

/* comment box head area end-area */

/* comment box content area start-area */
#comment-block .comment-list .comment-box{
    font-size: 15px;
    color: #595959;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

/* comment box content area end-area */
/* comment box of comment area end-area */
